<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>14-HomeWork-Touches-Simple-Drag-and-Drop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F995C1FF1EA0B193001D3617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F995C2181EA0B193001D3617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F995C2231EA0B193001D3617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
